---
import type { CollectionEntry } from 'astro:content';

interface Props {
	test: CollectionEntry<'posts'>;
	// id: string;
	// slug: string;
	// body: string;
}

// const { id, slug, body } = Astro.props;
const { test } = Astro.props;

---


		<div>
			<p>{test.id}</p>
			<p>{test.slug}</p>
			<p>{test.body}</p>
		</div>
